:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;    
}

* {
    color: var(--fontColor);
    font-family:Helvetica;
}
body {
    background: var(--bg);
}
ul {
    font-family: monospace;
    }
li {
    list-style: circle;
}

.list{
    font-family: 'Franklin Gothic Medium';
    list-style: square;
}

#msg {
    font-family: fantasy;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}